@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

body {
  margin: 0;
}

.marqueeTrack {
  display: flex;
  width: max-content;
  animation: marqueeMove 28s linear infinite;
}

@keyframes marqueeMove {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
